*
{
    margin: 0px;
   
}
body
{
    background-color:aliceblue;
   
}
#container 
{
    background-color: black;
   height: 80px;
    color: white;
    display: flex;
   align-items: center;
    justify-content: space-between;
   
}
#container div>a{
    color: white;
    text-decoration: none;
    padding: 20px;
}
#body_container
{
    color: aliceblue;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;

}
#bg{
    background-size: 1800px 900px;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
    text-align: center;
    height:100vh;
}
